@charset "utf-8";
/* CSS Document */

@media all and (max-width: 1366px) {/*min-width:1281px*/

.auto{width:92%}

/*sub-1*/
.auto1{width:92%}
.bottomheader_sub {width: 85%;}

/*sub-2*/
.packs img{width:23%}

}


@media all and (max-width: 1280px) {/*min-width:1161px*/

/*sub-1*/
.bottomheader_sub {width: 84%;}
.mailalrt{margin:0 11px 0 0}
}

@media all and (max-width: 1160px) {/*min-width:1081px*/

/*sub-1*/
.bottomheader_sub {width: 82%;}
.mailalrt_sub{width:43px}
}
@media all and (max-width: 1080px) {/*min-width:981px*/

.loginarea {display: block; float: none; margin: 39px auto 110px; width: 517px;}

/*sub-1*/
.sub_logo{width:18%}
.bh_sub_lft{width:48%}
.bh_sub_lft h1{margin:17px 6% 0 0}
.mailalrt{ width:144px}
.mailalrt_sub{width:48px}
.menu0 {width: 100%;} 
.cont_rght{width: 100%;}

/*3*/
.teams{width:100%}

/*6*/
.leads_form_left{width:365px;}
.leads_form_right{width:360px;}
.dd2{width:241px !important}
.leads_field{width:235px}
.leads_name { width: 178px !important;}
.leads_field_txtarea2{width:98% !important}	
}

@media all and (max-width: 980px) {/*min-width:901px*/
/*sub-1*/
.bottomheader_sub {width: 78%;}
.bh_sub_lft{width:38%}
.bh_sub_lft h1{margin:2px 6% 0px 0px}
.bh_sub_lft h2{margin:6px 0px 4px}

/*sub-2*/
.packs img{margin:0px 7px 0px 0px}
}

@media all and (max-width: 900px) {/*min-width:801px*/

/*sub-1*/
.bottomheader_sub {width: 76%;}
.bh_sub_lft{width:100%}
.bh_sub_rght{width:100%}
.bh_sub_rght h6{margin:0}
.menu_bar li{padding:10px 0 11px 12px}
.app_sales{width:408px; margin:60px 0 75px}
.app_sales img {float: none; margin:0;}

/*sub-2*/
.new_user{display:block; margin:0 auto 16px;}

/*6*/
.leads_name {width: 146px !important;}
.leads_form_left {width: 330px;}
.leads_form_right{width: 330px;}
.leads_field { width: 204px;}
.dd2 {width: 210px !important;}
}



@media all and (max-width: 800px) {/*min-width:701px*/

/*sub-1*/
.foot h3{ padding-left: 0;} 
.sub_logo{width:auto}
.bh_sub_lft h2{margin:2px 0px 15px}
.bh_sub_lft h1 {margin: 6px 6% 9px 0;}
.mailalrt {float: left; margin:0}
.bottomheader_sub { width: 72%;}
.bh_sub_rght { margin:0;}
.bh_sub_rght h6{position:absolute; top:86px; right:4%}

.employeelist{width:310px; margin:0 20px 0 0}
.subform_21{margin:0 0 0 464px}

/*sub-5*/
.leads_table_div, .msg_table_div{ width:100%}

/*6*/
.leads_form_left {width: 290px;}
.leads_form_right {width: 290px;}
.leads_name {width: 107px !important;}
.leads_field { width: 164px;}
.leads_des { width: 95%;}
.leads_field_file{width:200px}
.dd2 {width: 170px !important;}
.leads_form h3{width:29%}
}

@media all and (max-width: 700px) {/*min-width:601px*/
.search1{margin:3px 13px 0 0}
.bottomheader_sub {width: 71%;}
.mailalrt { width: 142px;}
.mailalrt_sub { width: 42px;}


.employeelist{width:100%; margin:0 0 20px}
.subform_21{margin:0; float:right}

/*6*/
.leads_form_left {width: 94%; margin:0 3% 6px}
.leads_form_right {width: 94%; margin:0 3% 6px}
.leads_des{width: 94%; margin:0 3% 6px}
.leads_field {width: 70%; float:right}
.leads_field_txtarea2{width: 70% !important;}
.dd2 {width: 71% !important;}
.leads_name {float: right; width: 59% !important;}

.leads_form h3{width:28%}
}

@media all and (max-width: 600px) {/*min-width:501px*/
/*sub-1*/
.nav_bttn_bt {top: 14px;}
.bottomheader_sub {width:64%;}
.bh_sub_lft h1{margin:2px 6% 8px 0px}
.bh_sub_lft h2 {margin: 0px 0 15px;    width: 94%;}
.mailalrt {float: left; margin: 0; width:150px}
.mailalrt_sub {margin: 0 12px 0 0; width: 36px;}
.bh_sub_rght {width: 156%; margin:0}
.datepick{float:right; margin-right:0}

.leads_name {float: right; width: 58% !important;}
}



@media all and (max-width: 560px) {/*min-width:501px*/
.loginarea {margin: 39px 0 110px; width: 100%;}
.login{width: 100%;}
.eachfield{margin-right:0px;}
.fillform{width:100%}
.form1{width:190px;}
.subform { width: 210px;}
.fillform_2{width:100%}
.leads_name {float: right; width: 56% !important;}
}

@media all and (max-width: 500px) {/*min-width:501px*/

/*sub-1*/
.bottomheader_sub {margin:0px 0 0; width: 100%;}
.bh_sub_lft h2 {width: 120px;}
.bh_sub_rght {margin:0; width: 100%;}
.search1{width:207px}
.search_area_1{width:165px}
.bh_sub_lft{margin:10px 0 0}
.bh_sub_rght {width: 100%;}

.form1{width:96%; padding:0 2%}


/*sub-2*/
.packs img{ width:46%;margin:0px 3.1% 3.1% 0px}
.ullis{ width:343px;background:url(../images/ul_bg2.png) no-repeat 6px 0 /100%}
/*.bg_ul li{padding:2px 0px 0px 3px; line-height:2.7}*/

.tasks_table,.tasks_table_div{width:100%}
.msg_table{float:left}
}
@media all and (max-width: 480px) {/*min-width:401px*/
.txt{width:100%}
.eachfield{margin-left:22%}

.eachfield{margin:0 0 10px 13%}
.login h1{margin:0 0 20px 13%}

/*6*/
.leads_form h3{width:100%}
.leads_field {width: 99%;}
.dd2 {width: 100% !important;}
.leads_field_txtarea2 {width: 100% !important;}
.leads_name {width: 82% !important;}
}

@media all and (max-width: 450px) {/*min-width:401px*/

.app_sales{width:100%; margin:60px 0 75px}
.app_sales img { width:100%; float: none; margin:0 !important;}
}

@media all and (max-width: 419px) {
.bannersub{padding:20px 0 45px}

.leads_name {width: 80.7% !important;}
}

@media all and (max-width: 400px) {
.search1{width:100%; margin:8px 0 0; padding:0}
.bh_sub_rght {margin: 0;width: 100%;}
.bh_sub_lft h1{width:100%; float:none; text-align:center}
.mailalrt {float: right;}
.datepick{float:none; margin:13px auto 3px;}
.bh_sub_rght { margin: 0 auto;text-align: center; width: 100%;}

.mailalrt {float: none;margin: 0; padding: 0; text-align: center; width: 100%;}
.mailalrt_sub { float: none; margin: 0 12px 0 0; width: 36px;}

.bh_sub_lft h2 {   margin: 0 33% 20px 30%;text-align: center;  width: 34%;}


/*sub-2*/
.ullis{ width:262px;background:url(../images/ul_bg3.png) no-repeat 6px 6px /100%}
/*.bg_ul{padding:0}
.bg_ul li{padding:0px 0px 0px 32px; line-height:2.13}*/

.mail{min-width:10px; width:274px;}
.top_mail_area img{width:65px}

.leads_field_txtarea2 { width: 98% !important;}
}





@media all and (max-width: 380px) {

.eachfield {
    margin: 0 0 10px 13%;
    width: 77% !important}
.eachfield:last-child{width:192px; padding:0  }
	
.eachfield h2{ margin-bottom:6px}
.submit_btn{float:left; margin:0} 
.rginput{width:96%}


.bh_sub_lft h2 {   margin: 0 13% 20px 24%;text-align: center;  width: 42%;}

.td1, .td2, .td3, .td4, .td5, .td6{padding:0 5px}

.form1_2{width:94%}
.eachform_2 .form3_2{width:100%}

.leads_name {width: 79% !important;}
}


@media all and (max-width: 360px) {

.foot h3{padding-bottom:10px;}
.foot h4{ float:left; width:100%; padding-top:0;}
.footer h3{padding-bottom:10px;}
.footer h4{ float:left; width:100%; padding-top:0;}

/*sub-2*/
.packs img{ width:100%;margin:0px 0% 3.1% 0px}
.pacq{width:100%} 

.teams h1{width:97%}

.leads_name {width: 78% !important;}
}

@media all and (max-width: 340px) {

.subform {width:100%}

.subform_2{width:230px}
.searchform{width:88%}

.leads_name {width: 75% !important;}
}


